{% extends "users/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra-head %}
    <link href="{% static 'css/spinner.css' %}" rel="stylesheet">
{% endblock %}  
{% block content %}
    <div class="no-show" id="preloader">
        <div id="loader" class="no-show">
            <div>
                <p class="font-weight-bold">Your account is being created, this might take between 10-15min please do not refresh or close this page. Thanks</p>
            </div>
        </div>
    </div>
    <div class="container bootstrap snippet mt-5">
        <div class="panel-body inf-content">
            <div class="row">
                <div class="col-md-10 justify-content-center mt-md-5 border-dark  ">
                    <div class="table-responsive">
                    <table class="table table-bordered table-default table-striped">
                        <thead>
                            <tr>
                            <th colspan="6"><strong>INFORMATION</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-asterisk "></span>
                                        Username
                                    </strong>
                                </td>
                                <td class="">
                                    {{ data.username }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-user  "></span>
                                        Project Name
                                    </strong>
                                </td>
                                <td class="">
                                    {{ data.project }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-bookmark "></span>
                                        Email
                                    </strong>
                                </td>
                                <td class="">
                                    {{ data.email }}
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-calendar "></span>
                                        registered
                                    </strong>
                                </td>
                                <td class="">
                                    {{ data.created }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10 justify-content-center mt-md-5 border-dark">
            <script src="https://js.paystack.co/v1/inline.js"></script>
            <div class="container col-md-10 mx-auto my-auto text-center">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Billing Cycle</span>
                    </div>
                    <select class="custom-select" name="cpu-select" id="cpu-select" onchange="SetCycle(event)">
                        <option value='Monthly Billing' selected>Monthly Billing</option>
                        <option value='Quarterly Billing'>Quarterly Billing</option>
                        <option value='Biannual Billing'>Biannual Billing</option>
                        <option value='Annual Billing'>Annual Billing</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Payment Gateway</span>
                    </div>
                    <select class="custom-select" name="cpu-select" id="cpu-select" onchange="renderGateway(event)">
                    
                        <option value='paystack' selected>PayStack Gateway</option>
                        <option value='paypal'>PayPal Gateway</option>
                        <option value='interswitch'>Interswitch Gateway</option>
                    </select>
                </div>
                
                <div class="col-md-8 mx-auto my-auto p-3 m-3" >
                    <div id="paymentContainer"></div>
                </div>
            </div>
        </div>
        <form method="POST">
        {% csrf_token %}
        {% comment %} <fieldset class="form-group">
            <legend class="border-buttom mb-4  text-black-50"><strong>Choose a Payment Platform</strong></legend>
            <input type="hidden" name="user_id" value="{{data.user_id}}" />
            {% crispy form %}
        </fieldset> {% endcomment %}

        </form>
    </div>
{% endblock %}
{% block extra-script %}
    <script src="{% static 'js/spinner.js' %}"></script>
    <script>
        function alertTimeout(mymsg,mymsecs){
            var myelement = document.createElement("div");
            myelement.setAttribute("style","background-color: blue;color:black; width: 450px;height: 200px;position: absolute;top:0;bottom:0;left:0;right:0;margin:auto;border: 4px solid black;z-index: 100;font-family:arial;font-size:25px;font-weight:bold;display: flex; align-items: center; justify-content: center; text-align: center;");
            myelement.innerHTML = mymsg;
            setTimeout(function(){
            myelement.parentNode.removeChild(myelement);
            },mymsecs);
            document.body.appendChild(myelement);
        }
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        async function postData(url, data) {
            // Default options are marked with *
            const response = await fetch(url, {
                method: 'POST', // *GET, POST, PUT, DELETE, etc.
                //mode: '*cors', // no-cors, *cors, same-origin
                cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                credentials: 'same-origin', // include, *same-origin, omit
                headers: {
                    "X-CSRFToken": getCookie("csrftoken"),
                    "Accept": "application/json",
                    //{% comment %} 'Content-Type': 'multipart/form-data'; boundary=63c5979328c44e2c869349443a94200e {% endcomment %}
                    'Content-Type': 'application/json',
                },
                redirect: 'follow', // manual, *follow, error
                //referrerPolicy: 'no-referrer', // no-referrer, *client
                body: JSON.stringify(data) // body data type must match "Content-Type" header
            });
            return response;
            }
            
        

        var cycle = 'Monthly Billing'

        function SetCycle(event){
            cycle = event.target.value
        }

        PaystackPop.setup({
            key: '{{ key }}',
            email:'{{ data.email }}',
            amount: 10000,
            container: 'paymentContainer',
            callback: function(response){
                $('#preloader').removeClass('no-show')
                $('#loader').removeClass('no-show')
                if (response.status == 'success'){
                    var pData = {'billing': cycle, email:'{{ data.email }}', 'trans_ref': response.reference}
                    console.log(pData);
                    postData('/paystack/', pData).then((response)=>{
                        if (response.ok){
                            $('#preloader').addClass('no-show')
                            $('#loader').addClass('no-show')
                            alertTimeout("System Message<br>User Created Successfully!<br>Redirecting to Dashboard...",5000);
                            window.location = 'https://dashboard.nobus.io/';
                            window.reload();
                        }else {
                            $('#preloader').addClass('no-show')
                            $('#loader').addClass('no-show')
                            alertTimeout("System Message<br>Unable to create user, please try again later!<br>Redirecting to Continue Page...",5000);
                            window.location = 'https://nobus.io/continue/';
                            window.reload();
                        }
                    });
                }else{
                    $('#preloader').addClass('no-show')
                    $('#loader').addClass('no-show')
                    alert('subscription Failed try again later ' + response.reference);
                    alertTimeout("System Message<br>Unable to Add card, please try again later!<br>Redirecting to Continue Page...",5000);
                    window.location = 'https://nobus.io/continue/';
                    window.reload();
                }
            }});
        
        

        
        
        function renderGateway(event){
            var gateway = event.target.value
            if (gateway == 'paystack'){
                window.location.reload()
                
                
            }else if(gateway == 'paypal'){
                document.getElementById('paymentContainer').setAttribute("class", "")
                document.getElementById('paymentContainer').innerHTML  = '<h3 class="text-muted display-3 align-center my-auto mx-auto">PayPal Gateway Currently Unreachable</h3>';
            }else {
                document.getElementById('paymentContainer').setAttribute("class", "")
                document.getElementById('paymentContainer').innerHTML  = '<h3 class="text-muted display-3 align-center my-auto mx-auto">Interswitch Gateway Currently Unreachable</h3>';
            }
            


        }
        //var email = '{{ data.email }}'
        
    </script>
{% endblock %}  


















